@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"> Welcome to BCA - Bookkeeping Made Easy!</h1>
    <img src="/bca-1.png" />
    <p> A bookkeeping tool for small businesses.</p>
</div>
